{{page-title "FeedReader"}}
<div class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <LinkTo class="navbar-brand" @route="feeds">Feed Reader</LinkTo>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
