<h1>Feeds</h1>
<div class="row">
  <div class="col-2">
    {{#each @model as |feed index|}}
      <div data-id="feed-title">
        <LinkTo data-id="feed-{{index}}" @route="feeds.feed" @model={{feed}}>
          {{feed.title}}
        </LinkTo>
      </div>
    {{/each}}
  </div>

  <div class="col-10">
    {{outlet}}
  </div>
</div>
