<h1>Feeds</h1>
<div class="row">
  <nav class="col-2">
    <ul class="nav flex-column">
      {{#each @model as |feed index|}}
        <li class="nav-item" data-id="feed-title">
          <LinkTo class="nav-link" data-id="feed-{{index}}" @route="feeds.feed" @model={{feed}}>
            {{feed.title}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </nav>

  <div class="col-10">
    {{outlet}}
  </div>
</div>
